#station_div{
  display: block;
}

#book_bike_result{
  display: none;
}

#station_history_check{
  display: none;
}

.main_load{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderBalls {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loaderBalls__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.loaderBalls__item:nth-child(1) {
  animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loaderBalls__item:nth-child(2) {
  animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.loaderBalls__item:nth-child(3) {
  animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}
